
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>COMPANIES</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../static/style.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<style>
    .wide-date-column {
    width: 200px; /* Ajuste o valor conforme necessário */
}
</style>
</head>
<body>
<div class="container-page">
<div class="container-data">
    <h1 class="centered">Gestión de Empresas</h1>
    <div class="container-table">
        <div id="totalRecords" class="totalRecords" style="font-size: 18px; font-weight: semi-bold; color: #000;">
    Total de empresas registradas: <span id="totalRecordsCount" class="totalRecordsCount">0</span>
</div>
        <ul class="navbar-nav me-2 mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="#" title="Añadir Empresa" onclick="showAddCompanyModal()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="green" class="bi bi-building-fill-add" viewBox="0 0 16 16">
                      <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0"/>
                      <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v7.256A4.5 4.5 0 0 0 12.5 8a4.5 4.5 0 0 0-3.59 1.787A.5.5 0 0 0 9 9.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .39-.187A4.5 4.5 0 0 0 8.027 12H6.5a.5.5 0 0 0-.5.5V16H3a1 1 0 0 1-1-1zm2 1.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5m3 0v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5m3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM4 5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5M7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm2.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5M4.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z"/>
                    </svg>
                </a>
            </li>
        </ul>
        <table id="companies" class="display">
            <thead>
                <tr>
                    <th>#</th> <!-- Nueva columna para el número secuencial -->
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>DESCRIPTION</th>
                    <th>SYMBOL</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                <!-- Los datos serán inyectados aquí por JavaScript -->
            </tbody>
        </table>
    </div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="companyModal" tabindex="-1" aria-labelledby="companyModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="companyModalLabel">Valores de los ultimos 7 dias</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Company details will be inserted here -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for add company -->

<div class="modal fade" id="modalAddCompany" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCompanyModalLabel">Registrar Empresa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Campos del formulario dentro del modal con boostrap -->
                <form id="companyForm">
                <div class="mb-2">
                    <label for="nombre" class="col-form-label">Nombre:</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" required>
                </div>
                <div class="mb-2">
                    <label for="descripcion" class="col-form-label">Descripcion:</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" required>
                </div>
                <div class="mb-2">
                    <label for="simbolo" class="col-form-label">Simbolo:</label>
                    <input type="text" class="form-control" id="simbolo" name="simbolo" required>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" class="btn btn-success" id="saveCompany">Registrar</button>
                    <button type="button" class="btn btn-danger" id="cancelModal" onclick="cleanForm()" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal for editing company -->
<div class="modal fade" id="editCompanyModal" tabindex="-1" aria-labelledby="editCompanyModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editCompanyModalLabel">Edit Company</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Form will be injected here by JavaScript -->
      </div>
      <div class="modal-footer d-flex justify-content-center">
    </div>
    </div>
  </div>
</div>

<!-- Modal de Error -->
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Error</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="errorModalBody">
                <!-- El mensaje de error se insertará aquí -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Éxito -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Éxito</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="successModalBody">
                <!-- El mensaje de éxito se insertará aquí -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- modal de confirmación registro empresa-->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Éxito</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="confirmationModalBody">
                <!-- El mensaje de éxito se insertará aquí -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

<!-- Inicializa el DataTable -->
<script>
$(document).ready(function() {
    loadCompanies();
});

function loadCompanies() {
    fetch('/get_companies/')
        .then(response => response.json())
        .then(data => {
            // Actualizar el total de registros
            const totalRecords = data.companies.length;  // Suponiendo que 'data.companies' es el array de empresas
            document.getElementById('totalRecordsCount').innerText = totalRecords;

            $('#companies').DataTable({
                destroy: true,
                data: data.companies, // Asegúrate de que data.companies sea un array de objetos
                columns: [
                    {
                        data: null,
                        render: function(data, type, row, meta) {
                            return meta.row + 1; // Número secuencial
                        }
                    },
                    { data: 'id' },
                    { data: 'name' },
                    { data: 'description' },
                    { data: 'symbol' },
                    {
                        data: null,
                        render: function(data, type, row) {
                            return `
                                <ul class="navbar-nav me-4 mb-2 mb-lg-0">
                                    <li class="nav-item d-flex">
                                        <a class="nav-link ms-2" href="#" title="" onclick="seeCompany('${data.id}')">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-eye" viewBox="0 0 16 16">
                                                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                                                </svg>
                                            </a>

                                        <a class="nav-link ms-4" href="#" title="" onclick="seeEditCompany('${data.id}')">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="Green" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                            </svg>
                                        </a>
                                        <a class="nav-link ms-4" href="#" title="Eliminar compañía" onclick="deleteCompany('${data.id}')">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="red" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1 1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="nav-item"></li>
                                </ul>
                            `;
                        }
                    }
                ],
                language: {
                    lengthMenu: "Mostrar _MENU_ registros por página",
                    zeroRecords: "No se encontraron resultados",
                    info: "Mostrando página _PAGE_ de _PAGES_",
                    infoEmpty: "No hay registros disponibles",
                    infoFiltered: "(filtrado de _MAX_ registros totales)",
                    search: "Buscar:",
                    paginate: {
                        first: "Primero",
                        last: "Último",
                        next: "Siguiente",
                        previous: "Anterior"
                    }
                },
                order: [[0, "asc"]],
                columnDefs: [
                    { orderable: false, targets: [5] } // Ajusta el índice para la columna de acciones
                ]
            });
        })
        .catch(error => console.error('Error:', error));
}

function seeCompany(id) {
    fetch(`/get_company_details/${id}/`)
        .then(response => {
            if (!response.ok) {
                return response.json().then(errorData => {
                    throw new Error(errorData.error);
                });
            }
            return response.json();
        })
        .then(data => {
            console.log('Response data:', data); // Log the response data for debugging
            if (data.error) {
                showErrorModal(data.error);
            } else if (data.company && Array.isArray(data.company)) {
                // Construir el contenido del modal con los datos de la compañía
                let modalBody = `<h5>Detalles de la Compañía: ${data.companyName}</h5>`;
                modalBody += '<table class="table table-striped">';
                modalBody += '<thead><tr><th style="width: 200px;">Fecha</th><th>Open</th><th>High</th><th>Low</th><th>Close</th><th>Volume</th></tr></thead>';
                modalBody += '<tbody>';
                data.company.forEach(dayData => {
                    const date = dayData[0];
                    const details = dayData[1];
                    modalBody += `<tr><td>${date}</td><td>${details['1. open']}</td><td>${details['2. high']}</td><td>${details['3. low']}</td><td>${details['4. close']}</td><td>${details['5. volume']}</td></tr>`;
                });
                modalBody += '</tbody></table>';

                // Insertar el contenido en el modal
                document.querySelector('#companyModal .modal-body').innerHTML = modalBody;

                // Mostrar el modal
                $('#companyModal').modal('show');
            } else {
                showErrorModal('No company data available');
            }
        })
        .catch(error => {
            showErrorModal(`¡ERROR fetching company details!: ${error.message}`);
            console.error('Error:', error);
        });
}

function seeEditCompany(id) {
    fetch(`/get_company/${id}/`)
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            // Mostrar los datos en un modal para editar
            $('#editCompanyModal .modal-body').html(`
                <form id="editCompanyForm">
                    <div class="mb-3">
                        <label for="editCompanyName" class="form-label">Name</label>
                        <input type="text" class="form-control" id="editCompanyName" value="${data.name}" required>
                    </div>
                    <div class="mb-3">
                        <label for="editCompanyDescription" class="form-label">Description</label>
                        <input type="text" class="form-control" id="editCompanyDescription" value="${data.description}" required>
                    </div>
                    <div class="mb-3">
                        <label for="editCompanySymbol" class="form-label">Symbol</label>
                        <input type="text" class="form-control" id="editCompanySymbol" value="${data.symbol}" required>
                    </div>
                    <input type="hidden" id="editCompanyId" value="${data.id}">

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-success me-2">Actualizar</button>
                        <button type="button" class="btn btn-danger" id="cancel" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            `);
            $('#editCompanyModal').modal('show');

            // Agregar evento de submit al formulario
            document.getElementById('editCompanyForm').addEventListener('submit', function(event) {
                event.preventDefault(); // Previene el envío automático

                // Verificar si el formulario es válido
                if (this.checkValidity()) {
                    updateCompany(); // Llama a la función para actualizar
                } else {
                    this.reportValidity(); // Muestra los mensajes de error nativos de HTML5
                }
            });
        })
        .catch(error => {
            console.error('There was a problem with the fetch operation:', error);
        });
}

function updateCompany() {
    const id = $('#editCompanyId').val();
    const name = $('#editCompanyName').val();
    const description = $('#editCompanyDescription').val();
    const symbol = $('#editCompanySymbol').val();

    fetch(`/update_company/${id}/`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken')  // Ensure CSRF token is included
        },
        body: JSON.stringify({
            name: name,
            description: description,
            symbol: symbol
        })
    })
    .then(response => response.json()
        .then(data => {
            if (response.ok) {
                $('#editCompanyModal').modal('hide');
                loadCompanies();  // Refresh the companies table
            } else {
                // Show server validation error message
                showErrorModal(data.error || 'Something went wrong');
            }
        })
    )
    .catch(error => {
        showErrorModal(error.message);  // Display error in a modal
    });
}

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

 function showErrorModal(message) {
    document.getElementById('errorModalBody').innerText = message;
    $('#errorModal').modal('show');
}

    function cleanForm() {
    document.getElementById('companyForm').reset();
}

    function showAddCompanyModal() {
    $('#modalAddCompany').modal('show');
}

document.getElementById('companyForm').addEventListener('submit', function(event) {
    event.preventDefault(); // Previene el envío del formulario por defecto

    if (this.checkValidity()) { // Verifica si el formulario es válido
        addCompany();
    } else {
        this.reportValidity(); // Muestra los mensajes de validación
    }
});

function showConfirmationModal(message) {
    document.getElementById('confirmationModalBody').innerText = message;
    $('#confirmationModal').modal('show');
}

function cleanFormAdd() {
    document.getElementById('companyForm').reset();
}

function addCompany() {
    const name = $('#nombre').val();
    const description = $('#descripcion').val();
    const symbol = $('#simbolo').val();

    fetch('/add_company/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken')  // Asegúrate de incluir el token CSRF
        },
        body: JSON.stringify({
            name: name,
            description: description,
            symbol: symbol
        })
    })
    .then(response => response.json()
        .then(data => {
            if (response.ok) {
                $('#modalAddCompany').modal('hide');
                showConfirmationModal('Empresa registrada correctamente');
                cleanFormAdd();
                loadCompanies();  // Refresca la tabla de compañías
            } else {
                showErrorModal(data.error || 'Something went wrong');
            }
        })
    )
    .catch(error => {
        showErrorModal(error.message);  // Muestra el error en un modal
    });
}

function deleteCompany(id) {
    if (confirm('¿Estas seguro de eliminar esta empresa?')) {
        fetch(`/delete_company/${id}/`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')  // Include CSRF token if necessary
            }
        })
        .then(response => {
            if (response.ok) {
                return response.json();
            } else {
                return response.json().then(error => {
                    throw new Error(error.message || 'Something went wrong');
                });
            }
        })
        .then(data => {
             $('#successModal').modal('hide');
            showSuccessModal('Empresa eliminada correctamente');
            loadCompanies();  // Refresh the companies table
        })
        .catch(error => {
            showErrorModal(error.message);  // Display error in a modal
        });
    }
}
function showSuccessModal(message) {
document.getElementById('successModalBody').innerText = message;
$('#successModal').modal('show');
}




</script>
</body>
</html>
